@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */

/* Mengatasi styling autocomplete untuk Chrome/Safari (webkit browsers) */
input:-webkit-autofill {
  background-color: transparent !important;
  color: white !important; /* Pastikan warna teks tetap putih */
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  color: white !important; /* Kadang warna teks perlu diatur secara eksplisit */
}

/* Opsional: Mengatasi style untuk Firefox */
input:-moz-autofill {
  background-color: transparent !important;
  color: white !important;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(#1f2937, #00ffff);
  /* background: #009688; Warna handle (teal) */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
